<header class="site-header">
    <div class="header-container">
        <h1>PointPitStop</h1>

        <nav>
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav">
                    {% if current_user.role == 'driver' %}
                        <li class="nav-item">
                            <a href="{{ url_for('view_driver_dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('driver_catalog') }}">View Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('driver_faq') }}">Frequently Asked Questions</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('driver_points_review') }}">Points Review</a>
                        </li>
                    {% elif current_user.role == 'sponsor' %}
                        <li class="nav-item">
                            <a href="{{ url_for('view_sponsor_dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('sponsor_settings') }}">Settings</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.handle_logout') }}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav guest-nav">
                    <li class="nav-item">
                        <a href="{{ url_for('auth.handle_driver_signup') }}">Apply to be a driver!</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.handle_login') }}">Login</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    </div>
</header>