{% extends "base.html" %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<div class="center-body-div">
<h1>Logged in as Sponsor {{ firstname }}!</h1>
<a href="{{ url_for('sponsor_view_drivers') }}">My Drivers</a>
<br><a href="{{ url_for('support.support_form') }}">Get Help Here!</a><br>
    <br><a href="{{ url_for('support.user_view_requests') }}">View My Support Requests!</a><br>
<br/>
    <a href="{{ url_for('sponsor_catalog_editor') }}">Catalog Editors</a>
<br>
    <br>
    <a href="{{ url_for('view_org_rules') }}">Organization Driving Rules</a>
<br>

</div>
{% endblock %}