{% extends "base.html" %}

{% block head %}
<title>Organization Rules</title>
{% endblock %}

{% block body %}
<h1>Organization Rules</h1>
<p>View the rules that govern what your organization views as good or bad driving behaviors.</p>
<br><p>Good Driving Behaviors</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Rule</th>
        </tr>
    </thead>
    <tbody>
        {% for request in request1 %}
        <tr>
            <td>{{request.id}} </td>
            <td>{{request.rule}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table><br>


<br><p>Bad Driving Behaviors</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Rule</th>
        </tr>
    </thead>
    <tbody>
        {% for request in request2 %}
        <tr>
            <td>{{request.id}} </td>
            <td>{{request.rule}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table><br><br>

<a href="{{ url_for('sponsor.new_rule') }}">Add a New Rule!</a><br>
<br>

<br><p>Remove a Rule from your organiztion:</p>
<form action="{{ url_for('sponsor.delete_rule') }}" method="POST">
    <label for="rr_target">Enter rule ID number:</label>
    <input type="text" id="rr_target" name="rr_target"><br>
    <br>
    <button type="submit"> remove rule</button>

</form>
{%endblock%}