{% extends "base.html" %}

{% block head %}
<title>My Sponsor</title>
{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="card p-5 shadow-lg rounded-4 border-0" style="max-width: 700px; margin: 0 auto; border-top: 5px solid #ff9800 !important;">
        
        {% if profile and profile.company.logo_filename %}
        <div class="text-center mb-4">
            <img 
                src="{{ url_for('static', filename=profile.company.logo_filename) }}"
                alt="Company Logo"
                class="img-fluid rounded"
                style="max-width: 150px; height: auto;"
            >
        </div>
        {% endif %}

        <h2 class="text-center" style="color: #5d4037; font-weight: 700;">
           {{ profile.company.name }}
        </h2>
        <p class="text-center mb-4">Phone: {{ profile.company.phone }}<br>Email: {{ profile.company.email }}</p>
    </div>
</div>
{% endblock %}