{% extends "base.html" %}

{% block head %}
<title>Admin - Support Dashboard</title>
<style>
    table { width: 100%;}
    th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }
    th { background-color: #f4f4f4; }
    .status-open { color: green; font-weight: bold; }
    .status-other { color: gray; }
</style>
{% endblock %}

{% block body %}
<h1>All Support Requests</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Org ID</th>
            <th>Type</th>
            <th>Details</th>
            <th>Submitted</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td><a href="{{ url_for('support.view_req_details', req_id=request.req_id) }}">{{request.req_id}}</a> </td>
            <td>{{ request.source_org }}</td>
            <td>{{ request.req_type }}</td>
            <td>{{ request.req_details}}</td>
            <td>{{ request.creation_date}}</td>
            <td>{{ request.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<form action="{{ url_for('support.admin_view_requests_open') }}" method="GET">
    <button type="submit">View Open Requests Only</button>
</form>

<form action="{{ url_for('support.admin_view_requests_prevDays') }}" method="GET">
    <label for="prevDays"> Get requests from the past X days only: </label>
    <select name="prevDays" id="prevDays">
        <option value="7">7</option>
        <option value="14">14</option>
        <option value="30">30</option>
    </select>
    <button type="submit">Filter Requests</button>
</form>

<div style="margin-top: 20px; display: flex; gap: 10px;">
    <form action="{{ url_for('support.admin_view_sponsor') }}" method="GET">
    <label for="org">View Org Queue: </label>
    <select name="org_id" id="org">
        <option value="">Loading...</option>
    </select>
    <button type="submit">Go</button>
</form>
</div>


{% endblock %}
