{% extends "base.html" %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<h1>Logged in as Admin!</h1>
<h1>Welcome {{ profile.firstname }} </h1>
<a href="{{ url_for('admin.all_companies_list') }}"> All Companies</a>
<a href="{{ url_for('admin.admin_sponsor_list') }}">My Sponsors</a>

<a href="{{ url_for('support.admin_view_requests') }}">Support Requests</a>

<a href="{{ url_for('report.display_landing') }}">Reports</a>
<br><br>
<a href="{{ url_for('admin.bulk_upload') }}">Bulk Upload</a>

<br><br>
<a href="{{ url_for('admin.directory') }}">Directory</a>

<br><br>
<a href="{{ url_for('admin.master_signup') }}">Master Signup</a>
{% endblock %}