body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}

.center-body-div {
    margin: auto;
    width: 80%
}

.site-header {
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
}

.main-content {
    flex: 1;
}

.site-footer {
    bottom: 0px;
    border: 1px solid #000000;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}