{% extends "base.html" %}

{% block head %}
<title>Driver_FAQ</title>
{% endblock %}

{% block body %}
<div class="center-body-div">

<h1>Frequently Asked Questions</h1>

<div class="FAQs">
    <h3>Q: How does the point system work?</h3>
    <p>A: Your points are given once per day based on your driving behavior and performance.</p>

    <h3>Q: Who are the giggle gang?</h3>
    <p>A: Nobody knows, some say heroes, others say no good vigilantes. One thing's for sure, they're pretty cool.</p>

    <h3>Q: Who do I contact for support?</h3>
    <p>A: nobody deal with it yourself bruh.</p>
</div>
{% endblock %}